extends layout

block content
	h1= title
	h2= user.firstname

	.right_field
		a(href="/profile") Edit Profile
		span.sub  | 
		a(href="/logout") Log Out

	form(action="/home", method="POST", id="form")
		input(type="text", name="diary", id="diary", placeholder="What's on your mind")
		input(type="submit", value="Submit")
	ul#lists


	script(type='text/javascript', src='/javascripts/main.js')