extends layout

block content
	h1= title
	h2= user.firstname

	.menu
		.right_field
			a(href="/profile") Edit Profile
			span.sub  | 
			a(href="/logout") Log Out

	.center_field
		.span9.well
			form(accept-charset='UTF-8', action="/home", method="POST", id="form")
				textarea(rows='4', cols='100', name="diarycontent", id="diarycontent", placeholder="What's on your mind")
				br
				br
				button.btn.btn-info(type='submit') Post New Message

	.center_field
		.span9.well
			-each userInput in diaries.reverse()
				if user._id.toString() === userInput.owner.toString()
					li= userInput.diarycontent

						.left_field
						ul
							li= userInput.createdAt
								span.sub  | 
								a(href='/del/' + userInput._id) Delete
								br
								br