extends layout

block content
	h1= title

	#wrap.left_col
		h2 Register

		.field
			.left_field
				form(method="POST" action="/signup")
					p First Name:
						.right_field
							input#name(type="text", name="fname", placeholder="First Name")

					br
					p Last Name:
						.right_field
							input#name(type="text", name="lname", placeholder="Last Name")

					br
					p Username:
						.right_field
							input#username(type="text", name="username", placeholder="Username")

					br
					p Email:
						.right_field
							input#email(type="email", name="email", placeholder="email@domain.com")

					br
					p Password:
						.right_field
							input#password(type="password", name="password", placeholder="******")

					br
					.right_field
						p: button(type="submit") Create

	#wrap.right_col
		h2 Login

		.field
			.left_field
				form(method="POST" action="/login")
					p Username:
						.right_field
							input#username(type="text", name="username", placeholder="Username")

					br
					p Password:
						.right_field
							input#password(type="password", name="password", placeholder="******")

					br
					.left_field
						p: button(type="submit") Login