extends layout

block content
	h1= title

	.container
		.center_field
			.span7.well
				.area
					form(method="POST" action="/login")
						.heading
							h4.form-heading Sign In

						.control-group
							label.control-label(for='username') Username
							.controls
								input#username(type='text', name='username', placeholder='Username')

						.control-group
							label.control-label(for='password') Password
							.controls
								input#password(type='password', name='password', placeholder='******')

						br
						.control-group
							.controls
								button.btn.btn-success(type='submit') Sign in

		.center_field
			.span7.well
				.area
					form(method="POST" action="/signup")
						.heading
							h4.form-heading Register

						.control-group
							label.control-label(for='firstname') First Name
							.controls
								input#firstname(type='text', name='firstname', placeholder='First Name')

						.control-group
							label.control-label(for='lastname') Last Name
							.controls
								input#lastname(type='text', name='lastname', placeholder='Last Name')

						.control-group
							label.control-label(for='email') Email
							.controls
								input#email(type='text', name='email', placeholder='email@domain.com')

						.control-group
							label.control-label(for='username') Username
							.controls
								input#username(type='text', name='username', placeholder='Username')

						.control-group
							label.control-label(for='password') Password
							.controls
								input#password(type='password', name='password', placeholder='******')

						br
						.control-group
							.controls
								button.btn.btn-success(type='submit') Sign up