extends layout

block content
	h1= title

	.menu
		.right_field
			a(href="/home") Home

	.container
		.center_field
			.span7.well
				.area
					form(method="POST" action="/password")
						.control-group
							label.control-label(for='password') Password
							.controls
								input#password(type='password', name='newpassword', placeholder='******')


						.control-group
							label.control-label(for='confirmpassword') Password
							.controls
								input#confirmpassword(type='password', name='confirmpassword', placeholder='******')

						br
						.control-group
							.controls
								button.btn.btn-success(type='submit') Save Password