extends layout

block content
	h1= title

	.right_field
		a(href="/home") Home

	#wrap.left_col

	.field
		.left_field
			form(method="POST" action="/password")
				p Password:
					.right_field
						input#password(type="password", name="newpassword", placeholder="******")

				br
				p Confirm Password:
					.right_field
						input#confirmpassword(type="password", name="confirmpassword", placeholder="******")

				br
				.left_field
					p: button(type="submit") Save